<div class="room-form">
  <%= simple_form_for @room do |f| %>
    <%= f.input :name %>

    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>


<%= simple_form_for [@room, @message] do |f| %>
  <%= f.input  :username %>
  <%= f.input :content %>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
